<% include header %>
    <nav class="navbar fixed-top">
      <div class="container">
      <ul>
        <li>
          <a href="#">Home</a>
        </li>
        <li>
          <a href="#">Moments</a>
        </li>
        <li>
          <a href="#">Notifications</a>
        </li>
        <li>
          <a href="#">Messages</a>
        </li>
        <li id="logout">
          <a href="/home/logout">Logout</a>
        </li>
      </ul>
    </div>
    </nav>

    <div class="container">
      <div class="row" id="startContent">
        <div class="col-sm-3" id="profile">
          <div class="row" id="profileBorder">
            <div class="row profileRow" id="profilePic">
              <div class="col-sm-12">
                <img src="/images/beach.jpg" alt="Profile Picture">
              </div>
            </div>
            <div class="row profileRow">
              <div class="col-sm-12">
                <h3><%= firstName %> <%= lastName %></h3>
                <p class="lightText">@<%= username %></p>

              </div>
            </div>
            <div class="row profileRow">
              <div class="col-sm-6">
                <p>Tweets</p>
                <p>0</p>
              </div>
              <div class="col-sm-6">
                <p>Following</p>
                <p>8</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-sm-9">
          <div class="row">
            <div class="col-sm-12" id="inputRow">
              <form id="tweetInput-form">
                <div class="form-group">
                  <input type="text" class="form-control" name="tweetInput" placeholder="What's happening?">
                </div>
                <button id ="btn-submitTweet" class="btn mb-2">Tweet</button>
              </form>
            </div>
          </div>
          <div id="tweets">
          <div class="row tweet">
            <div class="col-sm-2">
                <img src="/images/beach.jpg" alt="Profile Picture">
            </div>
            <div class="col-sm-10">
              <div class="row userTweetDetail">
                  <h6>Brenda La</h6><h6 class="lightText">@BrendaLa16</h6><p class="lightText">3 days ago</p>
              </div>
              <div class="row">
                <div class="col-sm-12 content">
                  <p>Lorem ipsum dolor sit amet, salutatus prodesset duo at, ad vel nisl intellegam. Iriure invidunt pro an. Usu et aperiam vocibus docendi, mazim zril prodesset vis at, qui te augue atomorum. Alia commodo phaedrum ex ius, an aeque alienum philosophia nec.</p>
                  <p>Lorem ipsum dolor sit amet, salutatus prodesset duo at, ad vel nisl intellegam. Iriure invidunt pro an. Usu et aperiam vocibus docendi, mazim zril prodesset vis at, qui te augue atomorum. Alia commodo phaedrum ex ius, an aeque alienum philosophia nec.</p>
                  <p>Lorem ipsum dolor sit amet, salutatus prodesset duo at, ad vel nisl intellegam. Iriure invidunt pro an. Usu et aperiam vocibus docendi, mazim zril prodesset vis at, qui te augue atomorum. Alia commodo phaedrum ex ius, an aeque alienum philosophia nec.</p>
                </div>
              </div>
            </div>
          </div>
          <hr>
        </div>
      </div>
      </div>
    </div>

  <script>
    $(document).ready(function(){
      $('#btn-submitTweet').on('click', function(event){
        $.ajax({
          type: "POST",
          url: "/home/submitTweet",
          data: $("#tweetInput-form").serialize(),
          dataType: "json",
        })
        .done(function(json){
          $("#tweetInput-form")[0].reset();
          $('#tweets').prepend(`<div class="row tweet"><div class="col-sm-2"><img src="/images/beach.jpg" alt="Profile Picture"></div><div class="col-sm-10"><div class="row userTweetDetail"><h6>${json.firstName} ${json.lastName}</h6><h6 class="lightText">@${json.username}</h6><p class="lightText">3 days ago</p></div><div class="row"><div class="col-sm-12 content"><p>${json.tweet}</p></div></div></div></div><hr/>`);
        })
        event.preventDefault();
      });
    });
  </script>

<%include footer %>
