<% include header %>
<form id="tweetInput-form">
  <div class="form-group">
    <input type="text" class="form-control" name="tweetInput" placeholder="What's happening?" value="<%= url %>">
  </div>
  <button id ="btn-submitTweet" class="btn mb-2">Tweet</button>
</form>

<%include footer %>
