body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: 100%;
}

/*---LOGIN/REGISTRATION----*/

#loginRow{
  padding: -50px;
  height: 100vh;
}
.form{
	padding: 20px;
  text-align: center;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

#registration{
  background-color: #e3f2fd;
}

.form input[type=email], input[type=password], input[type=text]{
	color: black;
	margin: 10px;
	border: none;
	border-bottom: 1px solid #00B7FF;;
	width: 50%;
	font-size: 15px;
  background-color: transparent;
}

.form input[type=email]:focus, input[type=password]:focus, input[type=text]:focus{
	outline: none;
  border-bottom: 3px solid #00B7FF;;
}

.form button{
  float: center;
	margin-top: 10px;
	width: 50%;
	height: 40px;
	border: 2px solid #00B7FF;;
	color: #00B7FF;;
	font-size: 15px;
}

.form button:hover{
	background-color: #00B7FF;;
	color: white;
}

.form button:focus{
	outline: none;
}


.auth-error-container, .addModal-error-container, .editModal-error-container{
	color: red;
	font-size: 1.4em;
	padding-bottom: 5px;
	display: none;
}

a {
  color: #00B7FF;
}

nav{
	padding: 10px 10px;
	background-color: #e3f2fd;
	position: relative;
	margin-top: 0px;
	text-align: left;
	height: 50px;
}
nav .container{
  padding: 0px;
}
nav ul{
	margin: 0px;
	position: relative;
	float: left;
  padding: 0px;
}

nav ul li{
	display: inline;
	margin: 0;
	padding: 0px 10px;
	float: left;
	position: relative;
}

nav ul li a{
	text-decoration: none;
	display: inline-block;
}

#logout{
  float: right;
}
#startContent{
  margin-top: 70px;
}

#profileBorder{
  border: 1px solid #00B7FF;
}

#profile .col{
  text-align: center;
}

h3{
  padding-top: 10px;
  margin-bottom: 0px;
}

#profilePic{
  background-color: #e3f2fd;
  height: 100px;
}

#profilePic .col-sm-12{
  text-align: center;
}
.profileRow{
  width: 100%;
  text-align: center;
  margin-right: 0px;
  margin-left: 0px;
}
.col-sm-9 .row{
  margin-left: 0px;
  margin-right: 0px;
}
#inputRow{
  background-color: #e3f2fd;
}

form{
  margin-top: 15px;
}

.form-group input[type=text]{
  border: 1px solid #00B7FF;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

.form-group input[type=text]:focus{
  outline: none;
  border: 3px solid #00B7FF;
  color: #00B7FF;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
}

#loadIcon{
  font-size: 100px;
  position: relative;
  left: 45%;
  transform: translateX(-45%);
}
#btn-submitTweet{
  float: right;
  border: 1px solid #00B7FF;
  color:  #00B7FF;
}

#btn-follow{
  border: 1px solid #00B7FF;
  color:  #00B7FF;
}

#btn-submitTweet:hover{
  background-color: #00B7FF;
  color: white;
}

.tweet{
  margin-top: 10px;
  margin-left: 0px;
  margin-right: 0px;
}
.tweet .col-sm-2{
  text-align: center;
}

img{
  border-radius: 50%;
  width: inherit;
  width: 7em;
  height: 7em;
}

.userTweetDetail h6, p{
  padding: 10px;
  margin-bottom: 0px;
}

.lightText{
  color: #657786;
}

.content{
  padding-left: 0px;
  padding-right: 0px;
}
